/* RESET CSS*/
/*Dévut du reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*Fin du reset*/

/*Parametre polices*/

@font-face {
    font-family: 'open_sanslight';
    src: url('/Polices/opensans_bold_macroman/OpenSans-Light-webfont.eot');
    src: url('/Polices/opensans_bold_macroman/OpenSans-Light-webfont.woff') format('woff'), 
         url('/Polices/opensans_bold_macroman/OpenSans-Light-webfont.ttf') format('truetype'), 
         url('/Polices/opensans_bold_macroman/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('/Polices/opensans_bold_macroman/OpenSans-Semibold-webfont.eot');
    src: url('/Polices/opensans_bold_macroman/OpenSans-Semibold-webfont.woff') format('woff'), 
         url('/Polices/opensans_bold_macroman/OpenSans-Semibold-webfont.ttf') format('truetype'), 
         url('/Polices/opensans_bold_macroman/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*GENERALS*/

.block_page {
    width: 100%;
    max-width: 1200px;
    font-family: 'open_sanslight';
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
}

.col4 {
    flex: 0 0 33,33%;
    max-width: 33,33%;
}

.col8 {
    flex: 0 0 66,66%;
    max-width: 66,66%;
}

.bartext {
    height: 2px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: #feca07;
    overflow: visible;
    position: relative;
    margin-top: 5px;
}

@viewport {
    width: device-width; /* largeur du viewport */
    zoom: 1; /* zoom initial à 1.0 */
}
/*HEADER*/
.identity {
    padding-top: 120px;
    padding-left: 65px;
    font-family: 'open_sanssemibold';
    width: 70%;
}

.name {
    font-size: 2.4em;
}

.subtitle {
    font-size: 1.2em;
}

.yellow {
    color: #feca07;
    text-transform: uppercase;
}

.light {
    width: 15%;
}

.picture-block {
    width: 30%;
    background-color: #feca07;
    text-align: center;
}
/*IMAGE RONDE*/
.ronde-bg {
    margin-top: 65px;
    margin-bottom: 43px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: 2px 2px 2px grey;
}

/*Corps*/
/*ASIDE*/
aside {
    flex-direction: column;
    width: 30%;
    background-color: #feca07;
    color: grey;
    font-size: 1.em;
}

.title-aside {
    background-color: #404040;
    color: #feca07;
    height: 47px;
    font-size: 24px;
    text-align: center;
    line-height: 47px;
    text-transform: uppercase;
}

.info {
    text-align: left;
    margin-left: 48px;
}

.contact {
    padding-top: 36px;
}

.about {
    margin-top: 52px;
    padding-bottom: 402px;
}

.about-me {
    padding-top: 38px;
    padding-right: 48px;
    word-wrap: break-word;
}

.activities {
    padding-top: 38px;
    padding-bottom: 36px;
    display: flex;
    flex-direction: row;
    margin-right: auto;
}

.list {
    margin-left: 38px;
}
/*SECTION*/
.title-section {
    font-size: 1.6em;
}

section {
    flex-direction: column;
    justify-content: space-around;
    margin-left: 65px;
    width: 70%;
    color: #404040;
    list-style: none;
    font-size: 1.15em;
}

.poste {
    margin-left: 128px;
    word-wrap: break-word;
}

.form {
    padding-top: 52px;
}

.experiences {
    padding-top: 80px;
}

.exp {
    padding-top: 52px;
}

.references {
    padding-top: 52px;
}

.few-references {
    padding-top: 38px;
    display: flex;
    flex-direction: row;
}

.ref2 {
    margin-left: 190px;
}
/*REGLE POUR AUTRES ECRANS*/
@media screen and (max-width: 575px) {
/*HEADER*/
.identity {
        font-family: 'open_sanssemibold';
        width: 100%;
        margin:0 auto;
    }
/*IMAGE*/
.picture-block {
        width: 100%;
        background-color: #feca07;
        text-align: center;
    }
/*ASIDE*/
aside {
        width: 100%;
        background-color: #feca07;
        color: grey;
        font-size: 1.em;
        order: 0;
    }
/*SECTION*/
section {
    flex-direction: column;
    margin-left: 65px;
    width: 100%;
    color: #404040;
    list-style: none;
    font-size: 1.15em;
    order:1;
}
}